// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "semantic-ui";
@import "breakpoints";

body {
  background-color: #FFFFFF;
  font-family: "quicksandregular", sans-serif;
}

#mainMenu {
  padding-left: 50px;
  background-color: #F7F7F7;
  @media #{$small-device} {
    padding-left: 20px;
  }
}

.medium.text {
  font-size: 16px;
  @media #{$small-device} {
    font-size: 1em;
  }
}

.large.text {
  font-size: 22px;
}

#body-container {
  display: flex;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #fcfcfc;
}

#content-container {
  background-color: #fcfcfc;
  width: 100%;
  padding: 30px 10%;
  display: inline-block;
  @media #{$small-device} {
    padding: 30px 5%;
  }
}

.my-header {
  display: flex;
  width: 100%;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 1.7em;
  @media #{$small-device} {
    justify-content: center;
  }
}

.my-content {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 1.2em;
  @media #{$small-device} {
    padding-left: 0px;
  }
}

.color-lighter {
  color: #555;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  font-weight: bolder;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

#scrollTop {
  position: fixed;
  opacity: 0.5;
  z-index: 20;
  bottom: 10%;
  right: 20px;
}
